<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDAM"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".profesor.AgregarNotasProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".profesor.ListaAlumnosActivity"
            android:exported="false" />
        <activity
            android:name=".profesor.HorasActivity"
            android:exported="false" />
        <activity
            android:name=".profesor.NotasProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".profesor.MainActivity"
            android:exported="false" />
        <activity
            android:name=".profesor.HorarioActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".profesor.CursoProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarHorarioActivity"
            android:exported="false" />
        <activity
            android:name=".MisCursosActivity"
            android:exported="false" />
        <activity
            android:name=".EventosProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarCursoProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarNotasActivity"
            android:exported="false" />
        <activity
            android:name=".ProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".EditarCursoActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarCursoActivity"
            android:exported="false" />
        <activity
            android:name=".CursoAdminActivity"
            android:exported="false" />
        <activity
            android:name=".EditarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".detalle_participantes"
            android:exported="false" />
        <activity
            android:name=".detalles_cursos"
            android:exported="false" />
        <activity
            android:name=".AgregarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".menuEstudiante"
            android:exported="false" />
        <activity
            android:name=".recuperarPassw"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>